/*======startPage.js===========*/
.start-page {
  width: 800px;
  height: 600px;
  position: relative;
  border: 1px solid #00000000;
}

.startTitle {
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
  float: left;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.startBtn {
  width: 500px;
  height: 200px;
  font-size: 40px;
  margin-left: calc(100% / 2 - 250px);
  margin-top: 230px;
  font-weight: bold;
}

/*======webcam.js===========*/
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #ffef85;
}

.bodycontainer {
  width: 850px;
  height: 850px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.webcam {
  width: 100%;
  height: 100%;
}

.top {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.bottom {
  width: 100%;
  height: 100px;
  background-color: #ad91ff;
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
}

.counter {
  text-align: center;
  width: 100px;
  height: 50px;
  font-size: 24px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.captureBtn {
  width: 200px;
  height: 80px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  background-color: white;
}

/*======imgGallery==========*/
.image-gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 10px; */
  /* margin-top: 20px; */
  height: 500px;
  align-content: space-evenly;
  justify-content: space-around;
  width: 1100px;
  background: rgb(0, 0, 0);

}

.image-item {
  text-align: center;
  min-height: 210px;
}

.image-item:hover {
  opacity: 0.8;
}

.image-item.selected img {
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.image-item img {
  width: 250px;
  min-width: 250px;
  min-height: 200px;
}

.selectBottom {
  width: 1100px;
}

.back-button {
  width: 150px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.selectBtn {
  width: 150px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.selectCnt {
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  font-size: 25px;
  float: right;
}

/*======selectImg==========*/
.res {
  width: 1000px;
  height: 1000px;
  position: relative;
  margin-top: 15px;
}

.res-container {
  width: 302px;
  height: 910px;
  background-image: url("images/image.png");  
  background-size: cover;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-direction: column;
  float: left;
  margin-top: 20px;
  margin-left: 50px;
}

.res-imgitem {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.res-imgitem img {
  width: 245px;
  min-height: 185px;
  background: #ffffff;
}

.forQR {
  margin-top: 1500px;
  width: 1060px;
  height: 3187px;
}

.forQR-imgitem {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 5px;
}

.forQR-imgitem img {
  min-width: 850px;
  min-height: 669px;
  background-color: red;
}

.coment {
  width: 300px;
  flex: 2;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
  font-size: 40px;
  line-height: 90px;
  font-weight: bold;
}

.template {
  width: 450px;
  height: 650px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: absolute;
  right: 30px;
  top: 50px;
}

.t {
  text-align: center;
  border: 1px solid;
  line-height: 160px;
  padding: 10px;
  margin: 10px;
  border-radius: 35px;
}

.endBtn {
  width: 450px;
  height: 100px;
  right: 40px;
  bottom: 165px;
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  background-color: #c5ebae;
}

.backBtn {
  width: 450px;
  height: 90px;
  right: 40px;
  bottom: 60px;
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  background-color: #ffc592;
}

.t1 {
  background: url(images/frame1.png);
  background-size: cover;
}

.t2 {
  background: url(images/frame2.png);
  background-size: cover;
}

.t3 {
  background: url(images/frame3.png);
  background-size: cover;
}

.t4 {
  background: url(images/frame4.png);
  background-size: cover;
}

.t5 {
  background: url(images/frame5.png);
  background-size: cover;
}

.t6 {
  background: url(images/frame6.png);
  background-size: cover;
}

/*===============버튼 스타일=============*/
.btnStyle {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;


  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnStyle:hover,
.btnStyle:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.btnStyle:active {
  background: var(--color);
  color: #fff;
}

.btnStyle1 {
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnStyle1:active {
  box-shadow: 0px 0px 0px 0px;
  transform: translate(5px, 5px);

}

@media (min-width: 768px) {
  .btnStyle1 {
    padding: 0.25em 0.75em;
  }
}

.btnStyle2 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnStyle2:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 200px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btnStyle2:hover:after {
  transform: translate(0, 0);
}

.btnStyle2:active {
  background-color: #ffdeda;
  outline: 0;
}

.btnStyle2:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .btnStyle2 {
    padding: 0 40px;
  }
}